* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    text-align: initial;
}

h1 {
    background-color: beige;
    text-align: initial;
    font-size: 20px;
}